<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div>
            <form method="post" action="/Kategori/YeniKategori">
                <div class="modal-body">
                    <h2>Yeni Kategori</h2>
                    <br />
                    <div style="margin-top:15px">
                        <label>
                            Kategori
                        </label>
                        <input type="text" name="Kategori" class="form-control" />
                    </div>
                    <br />
                    <br />
                    <button class="btn btn-primary">Yeni Kategori Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>


